<!--================ PAGE-COVER ===============-->
<section class="page-cover" id="cover-contact-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-title">Contact Us</h1>
        <ul class="breadcrumb">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li class="active">Contact Us</li>
        </ul>
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
  <div id="contact-us" class="innerpage-section-padding">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-5 no-pd-r">
          <div class="custom-form contact-form">
            <h3>Contact Us</h3>
            <p>Please write your query we will get back to you.
            </p>
            <form>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required />
                <span><i class="fa fa-user"></i></span>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required />
                <span><i class="fa fa-envelope"></i></span>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" required />
                <span><i class="fa fa-info-circle"></i></span>
              </div>

              <div class="form-group">
                <textarea class="form-control" rows="4" placeholder="Your Message"></textarea>
                <span><i class="fa fa-pencil"></i></span>
              </div>

              <button class="btn btn-orange btn-block">Send</button>
            </form>
          </div><!-- end contact-form -->
        </div><!-- end columns -->

        <div class="col-sm-12 col-md-7 no-pd-l">
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3532.1967165414285!2d85.32251231490154!3d27.71121193279039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1556293327209!5m2!1sen!2snp"
              allowfullscreen></iframe>
          </div><!-- end map -->
        </div><!-- end columns -->

      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end contact-us -->
</section><!-- end innerpage-wrapper -->


<!--======================= BEST FEATURES =====================-->
<section id="best-features" class="banner-padding black-features">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-dollar"></i></span>
          <h3>Best Price Guarantee</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-lock"></i></span>
          <h3>Safe and Secure</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-thumbs-up"></i></span>
          <h3>Best Travel Agents</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->

      <div class="col-sm-6 col-md-3">
        <div class="b-feature-block">
          <span><i class="fa fa-bars"></i></span>
          <h3>Travel Guidelines</h3>
          <p>Lorem ipsum dolor sit amet, ad duo fugit aeque fabulas, in lucilius prodesset pri. Veniam delectus ei vis.
          </p>
        </div><!-- end b-feature-block -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end best-features -->