<!--=============== CRUISE OFFERS ===============-->
<section id="cruise-offers" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-heading">
          <h2>Cruise Offers</h2>
          <hr class="heading-line" />
        </div><!-- end page-heading -->

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="main-block cruise-block">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-push-6 no-pd-l">
                  <div class="main-img cruise-img">
                    <a href="#">
                      <img src="../assets/images/cruise-1.jpg" class="img-responsive" alt="cruise-img" />
                      <div class="cruise-mask">
                        <p>7 Nights, 6 Days</p>
                      </div><!-- end cruise-mask -->
                    </a>
                  </div><!-- end cruise-img -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-6 col-md-pull-6 no-pd-r">
                  <div class=" main-info cruise-info">
                    <div class="main-title cruise-title">
                      <a href="#">Spain Boat Tour</a>
                      <p>From: Italy to Spain</p>
                      <div class="rating">
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star grey"></i></span>
                      </div><!-- end rating -->

                      <span class="cruise-price">$950.00</span>
                    </div><!-- end cruise-title -->
                  </div><!-- end cruise-info -->
                </div><!-- end columns -->

              </div><!-- end row -->
            </div><!-- end cruise-block -->
          </div><!-- end columns -->

          <div class="col-sm-6 col-md-6">
            <div class="main-block cruise-block">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-push-6 no-pd-l">
                  <div class="main-img cruise-img">
                    <a href="#">
                      <img src="../assets/images/cruise-2.jpg" class="img-responsive" alt="cruise-img" />
                      <div class="cruise-mask">
                        <p>7 Nights, 6 Days</p>
                      </div><!-- end cruise-mask -->
                    </a>
                  </div><!-- end cruise-img -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-6 col-md-pull-6 no-pd-r">
                  <div class=" main-info cruise-info">
                    <div class="main-title cruise-title">
                      <a href="#">Spain Boat Tour</a>
                      <p>From: Italy to Spain</p>
                      <div class="rating">
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star grey"></i></span>
                      </div><!-- end rating -->

                      <span class="cruise-price">$950.00</span>
                    </div><!-- end cruise-title -->
                  </div><!-- end cruise-info -->
                </div><!-- end columns -->

              </div><!-- end row -->
            </div><!-- end cruise-block -->
          </div><!-- end columns -->

          <div class="col-sm-6 col-md-6">
            <div class="main-block cruise-block">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-push-6 no-pd-l">
                  <div class="main-img cruise-img">
                    <a href="#">
                      <img src="../assets/images/cruise-3.jpg" class="img-responsive" alt="cruise-img" />
                      <div class="cruise-mask">
                        <p>7 Nights, 6 Days</p>
                      </div><!-- end cruise-mask -->
                    </a>
                  </div><!-- end cruise-img -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-6 col-md-pull-6 no-pd-r">
                  <div class=" main-info cruise-info">
                    <div class="main-title cruise-title">
                      <a href="#">Spain Boat Tour</a>
                      <p>From: Italy to Spain</p>
                      <div class="rating">
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star grey"></i></span>
                      </div><!-- end rating -->

                      <span class="cruise-price">$950.00</span>
                    </div><!-- end cruise-title -->
                  </div><!-- end cruise-info -->
                </div><!-- end columns -->

              </div><!-- end row -->
            </div><!-- end cruise-block -->
          </div><!-- end columns -->

          <div class="col-sm-6 col-md-6">
            <div class="main-block cruise-block">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-md-push-6 no-pd-l">
                  <div class="main-img cruise-img">
                    <a href="#">
                      <img src="../assets/images/cruise-4.jpg" class="img-responsive" alt="cruise-img" />
                      <div class="cruise-mask">
                        <p>7 Nights, 6 Days</p>
                      </div><!-- end cruise-mask -->
                    </a>
                  </div><!-- end cruise-img -->
                </div><!-- end columns -->

                <div class="col-sm-12 col-md-6 col-md-pull-6 no-pd-r">
                  <div class=" main-info cruise-info">
                    <div class="main-title cruise-title">
                      <a href="#">Spain Boat Tour</a>
                      <p>From: Italy to Spain</p>
                      <div class="rating">
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star orange"></i></span>
                        <span><i class="fa fa-star grey"></i></span>
                      </div><!-- end rating -->

                      <span class="cruise-price">$950.00</span>
                    </div><!-- end cruise-title -->
                  </div><!-- end cruise-info -->
                </div><!-- end columns -->

              </div><!-- end row -->
            </div><!-- end cruise-block -->
          </div><!-- end columns -->
        </div><!-- end row -->

        <div class="view-all text-center">
          <a href="#" class="btn btn-orange">View All</a>
        </div><!-- end view-all -->
      </div><!-- end columns -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end cruise-offers -->