<!--============= TOP-BAR ===========-->
<div id="top-bar" class="tb-text-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="info">
          <ul class="list-unstyled list-inline">
            <li>
              <span><i class="fa fa-map-marker"></i></span>Kamalpokhari,
              Kathmandu
            </li>
            <li>
              <span><i class="fa fa-phone"></i></span>+01-4212345
            </li>
          </ul>
        </div>
        <!-- end info -->
      </div>
      <!-- end columns -->

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="links">
          <ul class="list-unstyled list-inline">
            <li>
              <a routerLink='/login'  routerLinkActive="active"><span><i class="fa fa-lock"></i></span>Login</a>
            </li>
            <li>
              <a routerLink='/signup'  routerLinkActive="active"><span><i class="fa fa-plus"></i></span>Sign Up</a>
            </li>
            <li>
              <form>
                <ul class="list-inline">
                  <li>
                    <div class="form-group currency">
                      <span><i class="fa fa-angle-down"></i></span>
                      <select class="form-control">
                        <option value="रू">रू</option>
                        <option value="">$</option>
                        <option value="">£</option>
                      </select>
                    </div>
                    <!-- end form-group -->
                  </li>

                  <li>
                    <div class="form-group language">
                      <span><i class="fa fa-angle-down"></i></span>
                      <select class="form-control">
                        <option value="">EN</option>
                        <option value="">NP</option>
                        <option value="">UR</option>
                        <option value="">FR</option>
                        <option value="">IT</option>
                      </select>
                    </div>
                    <!-- end form-group -->
                  </li>
                </ul>
              </form>
            </li>
          </ul>
        </div>
        <!-- end links -->
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end top-bar -->

<nav class="navbar navbar-default main-navbar navbar-custom navbar-white" id="mynavbar-1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="menu-button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="header-search hidden-lg">
        <a href="javascript:void(0)" class="search-button"><span><i class="fa fa-search"></i></span></a>
      </div>
      <a [routerLink]="['/home']" class="navbar-brand"><span><i class="fa fa-plane"></i>DESTINATION</span> NEPAL</a>
    </div>
    <!-- end navbar-header -->

    <div class="collapse navbar-collapse" id="myNavbar1">
      <ul class="nav navbar-nav navbar-right navbar-search-link">
        <li><a [routerLink]="['home']" routerLinkActive="active-link">Home</a></li>
        <li><a [routerLink]="['/hotel']" routerLinkActive="active-link">Hotel</a></li>
        <li><a [routerLink]="['/localproducts']" routerLinkActive="active-link">LocalProducts</a></li>
        <li><a [routerLink]="['/tours']" routerLinkActive="active-link">Tours</a></li>
        <li><a [routerLink]="['/famousvisitingplace']" routerLinkActive="active-link">Visiting Place</a></li>
        <li><a [routerLink]="['/guide']" routerLinkActive="active-link">Guide</a></li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<span><i
                class="fa fa-angle-down"></i></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/commingsoon']">Comming Soon</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="active-link">About Us</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="active-link">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages<span><i
                class="fa fa-angle-down"></i></span></a>
          <ul class="dropdown-menu mega-dropdown-menu row">
            <li>
              <div class="row">
                <div class="col-md-3">
                  <ul class="list-unstyled">
                    <li class="dropdown-header">Standard <span>Pages</span></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href="blog-listing-left-sidebar.html">Blog Listing Left Sidebar</a></li>
                    <li><a href="blog-listing-right-sidebar.html">Blog Listing Right Sidebar</a></li>
                    <li><a href="blog-detail-left-sidebar.html">Blog Detail Left Sidebar</a></li>
                    <li><a href="blog-detail-right-sidebar.html">Blog Detail Right Sidebar</a></li>
                  </ul>
                </div>

                <div class="col-md-3">
                  <ul class="list-unstyled">
                    <li class="dropdown-header">User <span>Dashboard</span></li>
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="user-profile.html">User Profile</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a href="cards.html">Cards</a></li>
                  </ul>
                </div>

                <div class="col-md-3">
                  <ul class="list-unstyled">
                    <li class="dropdown-header">Special <span>Pages</span></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="registration.html">Registration</a></li>
                    <li><a href="forgot-password.html">Forgot Password</a></li>
                    <li><a href="error-page.html">404 Page</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </div>

                <div class="col-md-3">
                  <ul class="list-unstyled">
                    <li class="dropdown-header">Extra <span>Pages</span></li>
                    <li><a href="before-you-fly.html">Before Fly</a></li>
                    <li><a href="travel-insurance.html">Travel Insurance</a></li>
                    <li><a href="holidays.html">Holidays</a></li>
                    <li><a href="thank-you.html">Thank You</a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" class="search-button"><span><i class="fa fa-search"></i></span></a></li>
      </ul>
    </div><!-- end navbar collapse -->
  </div><!-- end container -->
</nav><!-- end navbar -->

<div class="sidenav-content">
  <div id="mySidenav" class="sidenav">
    <h2 id="web-name"><span><i class="fa fa-plane"></i></span>Star Travel</h2>

    <div id="main-menu">
      <div class="closebtn">
        <button class="btn btn-default" id="closebtn">&times;</button>
      </div><!-- end close-btn -->

      <div class="list-group panel">

        <a href="#home-links" class="list-group-item active" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-home link-icon"></i></span>Home<span><i class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="home-links">
          <a href="#" class="list-group-item active">Main Homepage</a>
          <a href="flight-homepage.html" class="list-group-item">Flight Homepage</a>
          <a href="hotel-homepage.html" class="list-group-item">Hotel Homepage</a>
          <a href="tour-homepage.html" class="list-group-item">Tour Homepage</a>
          <a href="cruise-homepage.html" class="list-group-item">Cruise Homepage</a>
          <a href="car-homepage.html" class="list-group-item">Car Homepage</a>
          <a href="landing-page.html" class="list-group-item">Landing Page</a>
        </div><!-- end sub-menu -->

        <a href="#flights-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-plane link-icon"></i></span>Flights<span><i class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="flights-links">
          <a href="flight-homepage.html" class="list-group-item">Flight Homepage</a>
          <a href="flight-listing-left-sidebar.html" class="list-group-item">List View Left Sidebar</a>
          <a href="flight-listing-right-sidebar.html" class="list-group-item">List View Right Sidebar</a>
          <a href="flight-grid-left-sidebar.html" class="list-group-item">Grid View Left Sidebar</a>
          <a href="flight-grid-right-sidebar.html" class="list-group-item">Grid View Right Sidebar</a>
          <a href="flight-detail-left-sidebar.html" class="list-group-item">Detail Left Sidebar</a>
          <a href="flight-detail-right-sidebar.html" class="list-group-item">Detail Right Sidebar</a>
        </div><!-- end sub-menu -->

        <a href="#hotels-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-building link-icon"></i></span>Hotels<span><i
              class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="hotels-links">
          <a href="hotel-homepage.html" class="list-group-item">Hotel Homepage</a>
          <a href="hotel-listing-left-sidebar.html" class="list-group-item">List View Left Sidebar</a>
          <a href="hotel-listing-right-sidebar.html" class="list-group-item">List View Right Sidebar</a>
          <a href="hotel-grid-left-sidebar.html" class="list-group-item">Grid View Left Sidebar</a>
          <a href="hotel-grid-right-sidebar.html" class="list-group-item">Grid View Right Sidebar</a>
          <a href="hotel-detail-left-sidebar.html" class="list-group-item">Detail Left Sidebar</a>
          <a href="hotel-detail-right-sidebar.html" class="list-group-item">Detail Right Sidebar</a>
        </div><!-- end sub-menu -->

        <a href="#tours-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-globe link-icon"></i></span>Tours<span><i class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="tours-links">
          <a href="tour-homepage.html" class="list-group-item">Tour Homepage</a>
          <a href="tour-listing-left-sidebar.html" class="list-group-item">List View Left Sidebar</a>
          <a href="tour-listing-right-sidebar.html" class="list-group-item">List View Right Sidebar</a>
          <a href="tour-grid-left-sidebar.html" class="list-group-item">Grid View Left Sidebar</a>
          <a href="tour-grid-right-sidebar.html" class="list-group-item">Grid View Right Sidebar</a>
          <a href="tour-detail-left-sidebar.html" class="list-group-item">Detail Left Sidebar</a>
          <a href="tour-detail-right-sidebar.html" class="list-group-item">Detail Right Sidebar</a>
        </div><!-- end sub-menu -->

        <a href="#cruise-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-ship link-icon"></i></span>Cruise<span><i class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="cruise-links">
          <a href="cruise-homepage.html" class="list-group-item">Cruise Homepage</a>
          <a href="cruise-listing-left-sidebar.html" class="list-group-item">List View Left Sidebar</a>
          <a href="cruise-listing-right-sidebar.html" class="list-group-item">List View Right Sidebar</a>
          <a href="cruise-grid-left-sidebar.html" class="list-group-item">Grid View Left Sidebar</a>
          <a href="cruise-grid-right-sidebar.html" class="list-group-item">Grid View Right Sidebar</a>
          <a href="cruise-detail-left-sidebar.html" class="list-group-item">Detail Left Sidebar</a>
          <a href="cruise-detail-right-sidebar.html" class="list-group-item">Detail Right Sidebar</a>
        </div><!-- end sub-menu -->

        <a routerLink='cars' routerLinkActive="active-link" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-car link-icon"></i></span>Carsmn.n,mm,<span></span></a>
        <!-- <div class="collapse sub-menu" id="cars-links">
            <a href="car-homepage.html" class="list-group-item">Car Homepage</a>
            <a href="car-listing-left-sidebar.html" class="list-group-item">List View Left Sidebar</a>
            <a href="car-listing-right-sidebar.html" class="list-group-item">List View Right Sidebar</a>
            <a href="car-grid-left-sidebar.html" class="list-group-item">Grid View Left Sidebar</a>
            <a href="car-grid-right-sidebar.html" class="list-group-item">Grid View Right Sidebar</a>
            <a href="car-detail-left-sidebar.html" class="list-group-item">Detail Left Sidebar</a>
            <a href="car-detail-right-sidebar.html" class="list-group-item">Detail Right Sidebar</a>
          </div>end sub-menu -->

        <a href="#pages-links" class="list-group-item" data-toggle="collapse" data-parent="#main-menu"><span><i
              class="fa fa-clone link-icon"></i></span>Pages<span><i class="fa fa-chevron-down arrow"></i></span></a>
        <div class="collapse sub-menu" id="pages-links">
          <div class="list-group-heading list-group-item">Standard <span>Pages</span></div>
          <a href="about-us.html" class="list-group-item">About Us</a>
          <a href="contact-us.html" class="list-group-item">Contact Us</a>
          <a href="blog-listing-left-sidebar.html" class="list-group-item">Blog Listing Left Sidebar</a>
          <a href="blog-listing-right-sidebar.html" class="list-group-item">Blog Listing Right Sidebar</a>
          <a href="blog-detail-left-sidebar.html" class="list-group-item">Blog Detail Left Sidebar</a>
          <a href="blog-detail-right-sidebar.html" class="list-group-item">Blog Detail Right Sidebar</a>
          <div class="list-group-heading list-group-item">User <span>Dashboard</span></div>
          <a href="dashboard.html" class="list-group-item">Dashboard</a>
          <a href="user-profile.html" class="list-group-item">User Profile</a>
          <a href="booking.html" class="list-group-item">Booking</a>
          <a href="wishlist.html" class="list-group-item">Wishlist</a>
          <a href="cards.html" class="list-group-item">Cards</a>
          <div class="list-group-heading list-group-item">Special <span>Pages</span></div>
          <a href="login.html" class="list-group-item">Login</a>
          <a href="registration.html" class="list-group-item">Registration</a>
          <a href="forgot-password.html" class="list-group-item">Forgot Password</a>
          <a href="error-page.html" class="list-group-item">404 Page</a>
          <a href="coming-soon.html" class="list-group-item">Coming Soon</a>
          <div class="list-group-heading list-group-item">Extra <span>Pages</span></div>
          <a href="before-you-fly.html" class="list-group-item">Before Fly</a>
          <a href="travel-insurance.html" class="list-group-item">Travel Insurance</a>
          <a href="holidays.html" class="list-group-item">Holidays</a>
          <a href="thank-you.html" class="list-group-item">Thank You</a>
        </div><!-- end sub-menu -->
      </div><!-- end list-group -->
    </div><!-- end main-menu -->
  </div><!-- end mySidenav -->
</div><!-- end sidenav-content -->
