<!--========== PAGE-COVER =========-->
<section class="page-cover dashboard">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-title">My Account</h1>
                <ul class="breadcrumb">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div><!-- end columns -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end page-cover -->


<!--===== INNERPAGE-WRAPPER ====-->
<section class="innerpage-wrapper">
    <div id="dashboard" class="innerpage-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="dashboard-heading">
                        <h2>Travel <span>Profile</span></h2>
                        <p>Hi {{username}}, Welcome to Star Travels!</p>
                        <p>All your trips booked with us will appear here and you'll be able to manage everything!</p>
                    </div><!-- end dashboard-heading -->

                    <div class="dashboard-wrapper">
                        <div class="row">

                            <div class="col-xs-12 col-sm-2 col-md-2 dashboard-nav">
                                <ul class="nav nav-tabs nav-stacked text-center">
                                    <li routerLinkActive="active"><a [routerLink]="['dashboard']"><span><i
                                                    class="fa fa-cogs"></i></span>Dashboard</a>
                                    </li>
                                    <li routerLinkActive="active"><a [routerLink]="['profile']"><span><i class="fa fa-user"></i></span>Profile</a>
                                    </li>
                                    <li routerLinkActive="active"><a [routerLink]="['booking']"><span><i
                                                    class="fa fa-briefcase"></i></span>Booking</a>
                                    </li>
                                    <li routerLinkActive="active"><a [routerLink]="['wishlist']"><span><i
                                                    class="fa fa-heart"></i></span>Wishlist</a>
                                    </li>
                                    <li routerLinkActive="active"><a [routerLink]="['cards']"><span><i class="fa fa-credit-card"></i></span>My
                                            Cards</a>
                                    </li>
                                </ul>
                            </div><!-- end columns -->

                            <!-- outlet for other user components -->
                            <router-outlet></router-outlet>


                        </div><!-- end row -->
                    </div><!-- end dashboard-wrapper -->
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end dashboard -->
</section><!-- end innerpage-wrapper -->
