<br>
  <span>&nbsp;</span>
<br>
<br>
  <span>&nbsp;</span>
<br>

<!--======================= FOOTER =======================-->
<section id="footer" class="ftr-heading-o ftr-heading-mgn-1">
  <div id="footer-top" class="banner-padding ftr-top-grey ftr-text-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 footer-widget ftr-contact">
          <h3 class="footer-heading">CONTACT US</h3>
          <ul class="list-unstyled">
            <li>
              <span><i class="fa fa-map-marker"></i></span>Kamalpokhari,Kathmandu
            </li>
            <li>
              <span><i class="fa fa-phone"></i></span>+01-4212345
            </li>
            <li>
              <span><i class="fa fa-envelope"></i></span>info@destinationnepal.com
            </li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-widget ftr-about">
          <h3 class="footer-heading">ABOUT US</h3>
          <p>
            Destination Nepal is Nepals Best Tours and Travel Destination site
            made by two bros Aashirbad and Biplap. This site was continuation of
            Hackthon Project conducted in Kathmandu University.
          </p>
          <ul class="social-links list-inline list-unstyled">
            <li>
              <a href="#"><span><i class="fa fa-facebook"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-twitter"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-google-plus"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-pinterest-p"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-instagram"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-linkedin"></i></span></a>
            </li>
            <li>
              <a href="#"><span><i class="fa fa-youtube-play"></i></span></a>
            </li>
          </ul>
        </div>
        <!-- end columns -->

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-5 footer-widget ftr-links ftr-pad-left">
          <h3 class="footer-heading">Subscribe Our Newsletter</h3>
          <ul class="list-unstyled">
            <li>Subscibe to receive our interesting updates</li>
            <li>
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" class="form-control input-md" placeholder="Enter your email address" required />
                    <span class="input-group-btn"><button class="btn btn-md">
                        <i class="fa fa-envelope"></i></button></span>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-top -->

  <div id="footer-bottom" class="ftr-bot-black">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="copyright">
          <p>© 2019 <a href="#">Destination Nepal</a>. All rights reserved.</p>
        </div>
        <!-- end columns -->

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="terms">
          <ul class="list-unstyled list-inline">
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-bottom -->
</section>
<!-- end footer -->